@font-face {
  font-family: 'Mallong';
  src: url('webfonts/mallong.woff2') format('woff2'),
       url('webfonts/mallong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('webfonts/playfairdisplay.woff2') format('woff2'),
       url('webfonts/playfairdisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Madam Ghea';
  src: url('webfonts/madam-ghea.woff2') format('woff2'),
       url('webfonts/madam-ghea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Faugllin Balseyn';
  src: url('webfonts/faugllin-balseyn.woff2') format('woff2'),
       url('webfonts/faugllin-balseyn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Scarlet Bradley.regular;
  src: url('webfonts/scarlet-bradleyregular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BethanWhite';
  src: url('webfonts/bethanwhite.woff2') format('woff2'),
       url('webfonts/bethanwhite.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Katty Diona';
  src: url('webfonts/katty-diona.woff2') format('woff2'),
       url('webfonts/katty-diona.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RetroSignature';
  src: url('webfonts/retrosignature.woff2') format('woff2'),
       url('webfonts/retrosignature.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Carlytte';
  src: url('webfonts/carlytte.woff2') format('woff2'),
       url('webfonts/carlytte.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ShowcaseSans';
  src: url('webfonts/showcasesans.woff2') format('woff2'),
       url('webfonts/showcasesans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Anisa Signature';
  src: url('webfonts/anisa-signature.woff2') format('woff2'),
       url('webfonts/anisa-signature.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Browny Cakes Signature';
  src: url('webfonts/browny-cakes-signature.woff2') format('woff2'),
       url('webfonts/browny-cakes-signature.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
